.fp {
    width: 100%;
    /* max-width: 1024px; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* justify-content: space-between; */
    /* gap: 20px; */
    background-color: #fff;
    padding-bottom: 130px;
}

.properties {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.fpItem {
    gap: 5px;
    display: flex;
    flex-direction: column;
    border: 2px solid #417054;
    border-radius: 6px;
    padding: 10px;
    cursor: default;
    
}

.fpImg {
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.fpName {
    color: #000000;
    font-size: large;
    font-weight: 700;
}

.fpCity {
    font-weight: 500;
}

.fpPrice {
    font-weight: 500;
}

.fpRating>button {
    background-color: #417054;
    color: white;
    border: none;
    padding: 2px 7px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 6px;
}

.fpRating>span {
    font-size: 14px;
} 