.fp {
  width: 100%;
  background-color: #fff;
  padding-bottom: 130px;
}

.properties {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
}

.fpItem {
  display: flex;
  flex-direction: column;
  border: 2px solid #e4e4e4;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  width: 260px; /* Adjust the width as desired */
}

.fpItem:hover {
  transform: scale(1.05);
}

.fpImg {
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}

.fpName {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.fpCity {
  font-weight: 500;
  color: #555;
}

.fpPrice {
  font-weight: 500;
  color: #555;
}

.fpRating {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.fpRating > button {
  background-color: #417054;
  color: white;
  border: none;
  padding: 2px 7px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 6px;
}

.fpRating > span {
  font-size: 14px;
  color: #555;
}
