.header {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 20px;
}

.container h1 {
  font-size: 48px;
  margin-top: 80px;
  font-weight: 600;
  color: #fff;
}

.container p {
  font-size: 24px;
  color: white !important;
}

.container input {
  border: none;
  padding-left: 10px;
  border-radius: 12px;
  border: 1px solid #333;
  height: 72px;
  width: 100%;
  margin-top: 30px;
  color: #ffffff;
}

.container ul {
  margin-top: 2px;
  width: 100%;
  max-width: 400px;
}

.container ul li {
  padding: 2px 4px;
  cursor: pointer;
  color: #fff;
}

.container ul li:hover {
  background-color: #f2f2f2;
}

.container img {
  width: 100%;
}

.headerSearch {
  background-color: #333333;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  bottom: -40px;
  display: flex;
  justify-content: center;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
  color: black;
}

.headerSearchText {
  color: rgb(35, 35, 35);
  cursor: pointer;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.whoWeAre {
  background-color: #fff;
  color: #333333;
  padding: 30px;
  margin-top: 40px;
}

.whatWeDo {
  background-color: #f2f2f2;
  color: #333333;
  padding: 30px;
  margin-top: 40px;
}

.sectionTitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sectionText {
  font-size: 18px;
  line-height: 1.5;
}

.whiteSection {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  margin-top: 40px;
}

.whiteSectionText {
  font-size: 20px;
  margin-bottom: 20px;
}
