.navbar {
    /* Your navbar styles here */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
  

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 7px 13px;
    cursor: pointer;
    border-radius: 8px;
    color: #417054;
    background-color: #EFEFEF;
}
  
.label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.2s;
    color: #888;
  }
  
  .inputField {
    display: flex;
    justify-content: center;
    width: 370px;
    margin: 3px 0px;
    padding: 8px;
    border: 2px solid #417054;
    border-radius: 20px;
  }
  .inputField:focus + .label,
.inputField:not(:placeholder-shown) + .label {
  transform: translate(0, -200%) scale(0.8);
  color: #000;
}
  
  .signupButton {
    background-color: #417054;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .loginButton {
    background-color: #417054;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* .closeButton {
    background-color: #000000;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  } */
  
  .modalContent {
    /* Your modal content styles here */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signupButton,
  .loginButton {
    /* Your button styles here */
    margin-top: 16px;
  }
  
  .closeButton {
    /* Your close button styles here */
    margin-top: 8px;
  }
  








  /* .modal {
    width: 400px; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
  .modalContent {
    /* Your modal content styles here */
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .modalContent>h2{
    border-bottom: 2px solid #000;
    pointer-events: none;
  }
  
  .formGroup {

    position: relative;
    margin-bottom: 16px;
  }
    
  .signupButton,
  .loginButton {
    margin-top: 16px;
    width: 15%; 
  }

  .loginButton:hover,
  .signupButton:hover{
    box-shadow: 0px 1px 15px 5px #2f523d;
  }

  
  /* .closeButton {
    margin-top: 8px;
    width: 100%; 
  }
   */

.error{
  color: red;
  display: flex;
  justify-content: center;
}

.cond{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  cursor: default;
}